html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#divBody {
    margin-top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 400px;
    width: 400px;
}

.row {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.column {
    flex: 1;
    border: 1px solid black;
}