html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#divBody {
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 400px;
    width: 400px;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    flex: 1;
    border: 1px solid black;
}

#sizeButton {
    border: none;
    border-radius: 16px;
    padding: 25px;
    margin-bottom: 64px;
}

#sizeButton:hover {
    cursor: pointer;
    border: 1px solid black;
}